{{#sharings}}
<div id ="event-listing">
  <h1>{{event.name}}</h1>
  <h5><span style="color:#000">Date:</span> {{event.date}}</h5>
  <h5><span style="color:#000">Location:</span> {{event.location}}</h5>
  <button class='btn btn-md btn-default' id="selectEvent" data-id={{event.id}}>Select</button>
  <button class='btn btn-md btn-default' id='deleteThis' data-id={{event.id}}>Delete</button>
</div>
{{/sharings}}
