<div id ="event-listing">

  <h1>{{event.name}}</h1>
  <h5><span style="color:#000">Date:</span> {{event.date}}</h5>
  <h5><span style="color:#000">Location:</span> {{event.location}}</h5>

  <a href="#" id="addItem" class="btn btn-default btn-md" role="button" data-toggle="modal"
  data-target="#add-item-modal" data-id={{event.id}}><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Add Items</span></a>

  <button class='btn btn-md btn-default' id="deleteThis" data-id={{event.id}}><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Event</button>

  <button class='btn btn-md btn-default' onClick="window.print()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print List</button>
  
  <h3>Item List:</h3>
  <table class="table table-hover" id="item-table">
    <tr>
      <td><h4 style="color:#000; text-decoration: underline">Claim Item</h4></td>
      <td><h4 style="color:#000; text-decoration: underline">Item Name</h4></td>
      <td><h4 style="color:#000; text-decoration: underline">Quantity</h4></td>
      <td><h4 style="color:#000; text-decoration: underline">Delete</h4></td>
    </tr>
  {{#each event.items}}
  <tr>
    <div class="checkbox" style="text-align:left">
  <td id="claimed">
    {{#if claimed}}
      <!-- <h5 style="color:#000"><span style="color:#236167" class="glyphicon glyphicon-user"></span> You Claimed</h5> -->
      <h5 style="color:#000"><span style="color:#236167" class="glyphicon glyphicon-user"></span> {{user.name}} Claimed</h5>
      {{else}}<label>
      <input type="checkbox" id="claim" data-id={{id}}></label>
    {{/if}}
  </td>
    </div>
    <td><h4>{{name}}</h4></td>
    <td><h4>{{unit}}</h4></td>
</td>
<td><button type="button" class="close" style="text-align:center" id="deleteItem" data-id={{id}}><span aria-hidden="true">&times;</span></button>
</td>

    {{/each}}
  </tr>
  </table>
</div>
